:root{
    --text-color: red;
}

h1{
    color: var(--text-color);
}

h2{
    color: var(--text-color);
}
.item{
    background-color: yellow;
    --borderLeft: 2px solid brown;
}

h3{
    color: var(--text-color);
    border-left: var(--borderLeft);
}

a{
    border-left: var(--borderLeft);
}